
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (Friend p in @Model)
{
    <tr>
        <td>@p.FriendId</td>
    </tr>
}
