<h1>Hai, @ViewBag.UserName this is the page from Helo Action</h1>
<h2>can have any HTML content</h2>

<p>User name : @ViewBag.UserName </p>
<p>Location : @ViewBag.location</p>
<p>contact : @ViewBag.contact</p>